 

    body {
      background: #f5f5f5;
      color: #e54a45;
      line-height: 1.6;
       margin: 0;
      padding: 0;
      box-sizing: border-box;
    }

    header {
        background: #e54a45;
      color: white;
      padding: 80px 50px;
      text-align: center;
    }

    header h1 {
      font-size: 7rem;
      margin-bottom: 10px;
    }

    main h2{ 
        text-align: center;
    }

    header p {
      font-size: 1.1rem;
      margin-bottom: 20px;
    }


    section {
      padding: 20px 20px;
      max-width: 1000px;
      margin: auto;
      text-align: center;
    }

    .Contenedor {
      display: grid;
      grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
      gap: 20px;
      margin-top: 40px;
    }

    .card {
      background: white;
      padding: 30px;
      border-radius: 8px;
      box-shadow: 0 5px 15px #ff5a5f(0,0,0,0.1);
    }

    .card img{
        width: 40%;
    }

    footer {
      background: #ff5a5f;
      color: white;
      text-align: center;
      padding: 20px;
      font-size: 0.9rem;
    }